body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 700px;
}

button {
  border-radius: 8px !important;
}

#root {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}
